<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="displayStudents.css">
</head>
<body>
	<div class="container">
		<h1>Student List</h1>
		<table class="students-table">
			<thead>
				<tr>
					<th>University ID</th>
					<th>Name</th>
					<th>Email</th>
					<th>Branch</th>
					<th>Address</th>
				</tr>				
			</thead>
			<tbody>
				<tr th:each="student : ${stList}">
					<td th:text="${student.univId}"></td>
					<td th:text="${student.name}"></td>
					<td th:text="${student.email}"></td>
					<td th:text="${student.branch}"></td>
					<td th:text="${student.address}"></td>
				</tr>
			</tbody>

		</table>
	</div>

</body>
</html>