<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-1" />
    <title>Insert title here</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="container">
      <h1>Student Management System</h1>
      <a href="/registerPage" class="button">
        <div class="action" id="register">
          Register New Student
          <p class="description">Add a new student to the database</p>
        </div>
      </a>
      <a href="/fetchAll" class="button">
        <div class="action" id="view-all">
          View All Existing Students
          <p class="description">View the list of all students.</p>
        </div>
      </a>
      <a href="/searchPage" class="button">
        <div class="action" id="search">
          Search Student
          <p class="description">Search for a student by University ID</p>
        </div>
      </a>
      <a href="/updatePage" class="button">
        <div class="action" id="update">
          Update
          <p class="description">Modify the details of an Existing Student</p>
        </div>
      </a>
      <a href="/deletePage" class="button">
        <div class="action" id="delete">
          Delete Student
          <p class="description">Remove a student from the database</p>
        </div>
      </a>
    </div>
  </body>
</html>
