<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-1" />
    <title>Insert title here</title>
    <link rel="stylesheet" href="addAndUpdateStudent.css" />
    <style></style>
  </head>
  <body>
    <h1>Search Student</h1>
    <form action="/fetchById" method="get" class="form-container">
      <div class="form-group">
        <label for="univId">Enter University ID:</label>
        <input type="text" id="univId" placeholder="Enter University Id" name="univId" />
      </div>
      <div class="form-submit">
        <button type="submit">Search</button>
      </div>
    </form>
  </body>
</html>